*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 40px;
}
.cajas{
    
    max-width: 1035px;
    border: 1px solid #000;
}
.caja{
    display: block;
    width: 250px;
    height: 250px;
    background-color: aqua;
    border: 10px solid #000;
    margin: 15px;
    float: left;

}
.caja p{
    font-weight: bold;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    line-height: 150px;
}
.clearfix{
    float: none;
    clear: both;
}